body{
    display: grid;
    place-items: center;
    height: 100vh;
}

button{
    background-color: rgb(192, 216, 236);
    border-radius: 2px;
    padding: 0 4%;
    border: transparent;
}

button:hover{
    cursor: pointer;
}